*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dee1e6;
    height: 100px;
    
}
ul{
    display: flex;
    list-style: none;
 }
b{
    font-size: 7vh;
    font-weight: bold;
    height: auto;
}
#ng{
    color: #738f72;
    height: auto;
}
.logo{
    letter-spacing: 10px;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}
a{
    font-weight: bold;
}
li{
    padding: 30px;
}
li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    height: auto;
}

#btn{
    padding: 10px 25px;
    background-color: #738f72;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 3vh;
    text-decoration: none;
    color: #eee ;
    margin-right: 30px;
}
#btn:hover{
    transform: scale(1.2);
    
}
/* .btn{
    background-color: #94AE93;
    color: white;
    border-radius: 11px;
    border: 0px solid black;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    /* minwidth: 200px; 
    text-align: center;
     
} */
ul li a:hover{
    color: black;
    background-color: #94AE93;
    border-radius: 10px;
    transition: .7s;
}

#home{
    background-color: #eee;
}
.cont{
    display: flex;
}
span{
    font-size: large;
    color: white;
}
.social{
    width: 150px;

}
.firsttext{
    width: 100%;
    height: 500px;
    position: sticky;
    margin-top: 20px;
    
}
nav h1{
    font-size: 6vw;
    letter-spacing: 4px;
    font-size: large;
    
}
.up{
    background-color: tr;
    height: 105px;
    width: 40px;
    position: fixed;
    top: 450px;
}
.up img{
    width: 40px;
    border-radius: 100%;
}
/* .social{
    background-color: antiquewhite;
} */
#icon{
    width: 24px;
    border-radius: 100%;
    display: block;
    margin: 20px;
    position: relative;
    top: 320px;
}
.little{
    display: flex;
    width: 260px;
    position: relative;
    top: 70px;
}
#scroll{
    border-radius: 100%;
    width: 30px;
    position: relative;
    padding: 5px;
}
#scroll:hover{
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}
aside{
    margin: 0px 10px 0px 10px ;
}
.firsttext h1 b{
    font-size: 10vh;
    letter-spacing: 4px;
    font-weight: bold;
}
#rent{
    font-size: 80px;
    letter-spacing: 20px;
    color: black;
}
.firstimg{
    /* margin-right: 30px; */
    margin-top: 20px;
    width: 100%;
    height: 500px;
    
}
#car{
    height: 300px;
    width: 110vh;
    float: right;
    position: relative;
    top: 80px;
}
#banner{
    background-color: #eee;
    padding: auto;
    text-align: center;
}

#ban .Veh{
    font-size: 60px;
    font-weight: bold;
}
#ban p{
    margin-left: 50px;
}
#con{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    margin: auto;
}
.car-one{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
}
.car-two{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 2/3;
    grid-row: 1/2;
}
.car-three{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 3/4;
    grid-row: 1/2;
}
.car-four{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 1/ 2;
    grid-row: 2/3;
}
.car-five{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
}
.car-six{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    grid-column: 3/4;
    grid-row: 2/3;
}
#con a{
    text-decoration: none;
    color: black;
}
#con p:hover{
    background-color: #738f72;
    cursor: pointer;
    transition: .4s;
    transform: scale(1.1);
    
}
.img2{
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
.img2 .one{
    height: auto;
    grid-row: 1/2;
    grid-column: 1/2;
}
.img2 .two{
    height: auto;
    grid-row: 1/2;
    grid-column: 2/3;
}
.img2 .three{
    height: auto;
    grid-row: 1/2;
    grid-column: 3/4;
}
.img2 .four{
    height: auto;
    grid-row: 2/3;
    grid-column: 1/2;
}
.img2 .five{
    height: auto;
    grid-row: 2/3;
    grid-column: 2/3;
}
.img2 .six{
    height: auto;
    width: auto;
    grid-row: 2/3;
    grid-column: 3/4;
}
.img2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
       /* object-fit: contain; */
}

.carousel-inner{
    height: auto;
}
.active img{
    width: 100%;
    height: auto;
}
#about{
    background-color: #738f72;
    color: aliceblue;
}
/* #about .about-text{
    margin-left: 50px;
} */
.about-text h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.about-text p{
    color: beige;
    margin: auto;
    padding: 20px 10% 20px 10%;
}

#foot{
    padding: 10px;
}
#foot h1{
    text-align: center;
    padding-top: 10px;

}
#foot p{
    text-align: center;
    display: block;
    color: beige;
}
#foot div{
    text-align: center;
}
#ico{
    width: 60px;
    border-radius: 100%;
    padding: 10px;
    
}
/* hr{
    width: 90%;
    border: 2px solid;
    margin: auto;
} */
#nav-two{
    display: flex;
    width: 85%;
    flex-wrap:wrap;
    margin: auto;
    justify-content: center;
}
.nav-one{
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.nav-two{
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.nav-three{
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.nav-four{
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.nav-five{
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
#nav-two a{
    text-decoration: none;
    color: black;
}
#nav-two p:hover{
    background-color: #738f72;
    cursor: pointer;
    transition: .4s;
    transform: scale(1.1);
    
}
div hr{
    color: white;
    margin: auto;
    border: 2px solid white;
    width: 80%;
    
}
